body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  user-select: none;
}

main {
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

aside {
  padding: 20px;
  text-align: center;
  text-justify: center;
  display: flex;
  align-items: center;
  background-color: #464566;
}

svg {
  margin: auto auto;
  max-width: 350px;
}

ol {
  justify-content: center;
  align-content: center;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  font-family: Blinker, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: start;
  gap: 2.4rem;
}

li::marker,
h1 {
  color: #dadada;
  font-size: 2.4rem;
  font-family: Chiller, Copperplate, Papyrus, "Courier New", Courier, monospace;
}

li {
  max-width: 21rem;
}

li div {
  padding-top: 1rem;
}

input[type=button] {
  pointer-events: auto;
  cursor: pointer;
  background-color: #D81E5B;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 3px solid #fff;
  box-shadow: 5px 5px 0px 0px #D81E5B;
  transition: all .1s ease-out;
}

input[type=button]:hover {
  background-color: #e83772;
}

input[type=button]:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px 0px #650428;
}

@media screen and (orientation:portrait) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  ol {
    flex-direction: row;
  }

  span:first-child {
    display: inline-flex;
    flex-direction: column-reverse;
  }
}

/* svg logo styling */

.cls-1 {
  font-size: 77.74px;
  font-family: Chiller-Regular, Chiller;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  fill: #fff;
}

.cls-2 {
  font-size: 77.57px;
  font-family: Blinker-Bold, Blinker;
  font-weight: 700;
}

.cls-3 {
  opacity: 0.15;
}

.overlay {
  position: absolute;
  z-index: 3;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}