:root {
  --main-font: Blinker, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --main-font-accent: Chiller-Regular, Chiller, Copperplate, Papyrus, "Courier New", Courier, monospace;
  /* styles that change (lightmode) */
  --main-bg-color: #ffffff;
  --main-bg-shade: #dadada;
  --main-color: #000000;
  --main-side-color: #464566;
  --main-side-shade: #6b6a85;
  --main-contrast-color: #D81E5B;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* (darkmode) */
    --main-bg-color: #222;
    --main-bg-shade: #666;
    --main-color: #ffffff;
    --main-side-color: #464566;
    --main-side-shade: #6b6a85;
  }
}

html {
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  user-select: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

aside {
  padding: 20px;
  text-align: center;
  text-justify: center;
  display: flex;
  align-items: center;
  background-color: var(--main-side-color);
}

svg {
  margin: auto auto;
  max-width: 350px;
}

ol {
  justify-content: center;
  align-content: center;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  align-items: start;
  gap: 2.4rem;
}

li::marker {
  color: var(--main-bg-shade);
  font-size: 2.4rem;
  font-family: var(--main-font-accent);
}

li {
  max-width: 21rem;
}

li div {
  padding-top: 1rem;
}

input[type=button] {
  pointer-events: auto;
  cursor: pointer;
  background-color: var(--main-contrast-color);
  color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 3px solid var(--main-bg-color);
  box-shadow: 5px 5px 0px 0px var(--main-contrast-color);
  transition: all .1s ease-out;
}

input[type=button]:hover,
input[type=button]:focus {
  pointer-events: auto;
  background-color: color-mix(in srgb, var(--main-contrast-color) 85%, #ffffff);
}

input[type=button]:focus,
input[type=button]:focus-visible {
  outline-color: var(--main-contrast-color);
}

input[type=button]:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px 0px color-mix(in srgb, var(--main-contrast-color) 75%, #000000);
  /* #650428 */
}

header {
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 1.4rem;
  font-weight: 600;
  right: 1.4rem;
  top: 1.4rem;
  z-index: 10;
  border-radius: 50%;
  font-family: var(--main-font);
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.16rem 0.2rem 0.09rem 0.2rem;
  /* styles that change */
  color: var(--main-side-shade);
  background-color: var(--main-bg-color);
  border: 3px solid var(--main-side-shade);
}

header:hover,
header:focus {
  color: var(--main-side-color);
  background-color: var(--main-bg-color);
  border: 3px solid var(--main-side-color);
}

header:focus,
header:focus-visible {
  outline-color: var(--main-contrast-color);
  color: var(--main-color);
}

.overlay {
  padding: 1rem 3rem 1rem 3rem;
  position: absolute;
  height: calc(100% - 2rem);
  width: calc(100% - 6rem);
}

.loader {
  background-color: #ff0000;
}

/* hacky solution */
.no-pointer {
  pointer-events: none !important;
}

#help-overlay {
  z-index: 5;
  color: var(--main-color);
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  display: none;
  overflow: hidden;
}

#drag-overlay {
  z-index: 20;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0.2;
}

.dragleave {
  display: none;
}

.dragover {
  display: block;
}

section.overlay {
  padding: 1rem 3rem 1rem 3rem;
}

#help-overlay {
  font-size: 1.2rem;
}

footer {
  padding-top: 2em;
  font-size: 1rem;
}

.fadeIn {
  animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut ease-out 0.3s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.spinOut {
  animation: spinOut ease-in 0.1s;
}

@keyframes spinOut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

@media screen and (orientation:portrait) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  header {
    color: var(--main-bg-color);
    background-color: var(--main-side-shade);
    border-color: var(--main-bg-color);
  }

  header:hover,
  header:focus {
    color: var(--main-color);
    background-color: var(--main-side-color);
    border-color: var(--main-bg-color);
  }

  ol {
    flex-direction: row;
  }

  span:first-child {
    display: inline-flex;
    flex-direction: column-reverse;
  }
}

/* svg logo styling */

.cls-1 {
  font-size: 77.74px;
  font-family: var(--main-font-accent);
}

.cls-1,
.cls-2,
.cls-4 {
  fill: #ffffff;
}

.cls-2 {
  font-size: 77.57px;
  font-family: var(--main-font);
  font-weight: 700;
}

.cls-3 {
  opacity: 0.2;
}