:root {
  --main-bg-color: #ffffff;
  --main-bg-shade: #dadada;
  --main-color: #000000;
  --main-side-color: #464566;
  --main-side-shade: #6b6a85;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #222;
    --main-bg-shade: #666;
    --main-color: #ffffff;
    --main-side-color: #464566;
    --main-side-shade: #6b6a85;
  }

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  user-select: none;
}

main {
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

aside {
  padding: 20px;
  text-align: center;
  text-justify: center;
  display: flex;
  align-items: center;
  background-color: var(--main-side-color);
}

svg {
  margin: auto auto;
  max-width: 350px;
}

ol {
  justify-content: center;
  align-content: center;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  font-family: Blinker, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: start;
  gap: 2.4rem;
}

li::marker {
  color: var(--main-bg-shade);
  font-size: 2.4rem;
  font-family: Chiller, Copperplate, Papyrus, "Courier New", Courier, monospace;
}

li {
  max-width: 21rem;
}

li div {
  padding-top: 1rem;
}

input[type=button] {
  pointer-events: auto;
  cursor: pointer;
  background-color: #D81E5B;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 3px solid var(--main-bg-color);
  box-shadow: 5px 5px 0px 0px #D81E5B;
  transition: all .1s ease-out;
}

input[type=button]:hover {
  background-color: #e83772;
}

input[type=button]:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px 0px #650428;
}

header {
  cursor: pointer;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 1.4rem;
  font-weight: 600;
  right: 1.4rem;
  top: 1.4rem;
  z-index: 10;
  border-radius: 50%;
  font-family: Blinker, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.13rem 0.2rem 0.09rem 0.2rem;
  /* styles that change */
  color: var(--main-side-shade);
  background-color: var(--main-bg-color);
  border: 3px solid var(--main-side-shade);
}

header:hover {
  color: var(--main-side-color);
  background-color: var(--main-bg-color);
  border: 3px solid var(--main-side-color);
}

@media screen and (orientation:portrait) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  header {
    color: var(--main-bg-color);
    background-color: var(--main-side-shade);
    border-color: var(--main-bg-color);
  }

  header:hover {
    color: var(--main-bg-color);
    background-color: var(--main-side-color);
    border-color: var(--main-bg-color);
  }

  ol {
    flex-direction: row;
  }

  span:first-child {
    display: inline-flex;
    flex-direction: column-reverse;
  }
}

/* svg logo styling */

.cls-1 {
  font-size: 77.74px;
  font-family: Chiller-Regular, Chiller;
}

.cls-1,
.cls-2,
.cls-4 {
  fill: #ffffff;
}

.cls-2 {
  font-size: 77.57px;
  font-family: Blinker-Bold, Blinker;
  font-weight: 700;
}

.cls-3 {
  opacity: 0.2;
}